#appTopNav {
    /* https://cloudscape.design/components/top-navigation/?tabId=api */
    position: sticky;
    top: 0;
    z-index: 1999;
}
.custom-top-nav {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: #fff; /* Adjust the background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-top-nav a {
    margin-right: auto; /* Pushes the utilities to the right */
}

.custom-top-nav img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}

.utilities {
    display: flex;
    align-items: center;
}
.topNavWrapper :global(.awsui-top-navigation-header-logo) {
    width: 200px !important;
    height: 200px !important;
    object-fit: contain;
}
